<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'teams/style.css' %}">
    <title>Equipos</title>
</head>

<body>

    {% include "header.html" %}

    <!-- <div class="parallax-container">
        {% load static %}
        <div class="parallax"><img src="{% static 'teams/images/Soccer.jpg' %}"></div>
    </div> -->
    <div class="section white">
        <div class="row container">
            <h2 class="header center">Equipos</h2>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
                this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>

        <div class="container row">
            <div class="col l4 m6 s12 center-align">
                {% if latest_team_list %}
                <ul>
                    {% for team in latest_team_list %}
                    <li>
                        <a href="{% url 'teams:detail' team.id %}">
                            {% load responsive_images %}
                            <img class="img-responsive" src={{team.team_image}}>
                            <h3 class="black-text ">{{ team.team_name }}</h3>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No teams are available.</p>
                {% endif %}
            </div>
        </div>

        {% load static %}
        <script src="{% static 'teams/index.js' %}"></script>

        {% include "footer.html" %}

</body>