.img {
    max-width: 300px;
    max-height: 300px;
    min-height: 150px;
}

#foot {
    font-size: .9em;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    word-wrap: break-word;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-style: normal;
    font-size: 13px;
    letter-spacing: normal;
}


.middle-indicator {
    position: absolute;
    top: 50%;
}

.middle-indicator-text {
    font-size: 4.2rem;
}

a.middle-indicator-text {
    color: white !important;
}

.iconify {
    width: 24px;
    height: 24px;
}

.smallCarousel {
    height: 1500px;
    border-spacing: 20px 20px;
}

.medCarousel {
    height: 900px;
    border-spacing: 20px 20px;
}

.teamCols{
    height: 500px;
}