<footer class="page-footer grey lighten-2 ">
    <div class="container black-text">
        <div class="row" id="foot">
            <div class="col l6  s12">
                <h6><b>SOBRE NOSOTROS</b></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ea facilis expedita
                    necessitatibus, consectetur ut vitae. Nobis amet assumenda harum et vero accusamus voluptatibus!
                    Aperiam atque.</p>
                <h6><b>RECIBE LAS NOVEDADES</b></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ea facilis expedita
                    necessitatibus, consectetur ut vitae. Nobis amet assumenda harum et vero accusamus voluptatibus!
                    Aperiam atque.</p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col l7 s7 ">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Nombre</label>
                            </div>
                            <div class="input-field col l7 s7">
                                <i class="material-icons prefix">email</i>
                                <input id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">Mail</label>
                            </div>
                            <div class="input-field col l7 s7">
                                <button class="btn waves-effect waves-light  grey darken-2" type="submit"
                                    name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="col s12 hide-on-large-only">
            <div class="col l4 offset-l2 s12 black-text">
                <h6><b>CONTÁCTANOS</b></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ea facilis expedita
                    necessitatibus</p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="input_text" type="text" data-length="10">
                                <label for="input_text">Nombre</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="input_text" type="text" data-length="10">
                                <label for="input_text">Apellido</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="input_text" type="text" data-length="10">
                                <label for="input_text">Mail</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                                <label for="textarea2">Escríbenos tus mensajes</label>
                            </div>
                            <div class="input-field col l7 s7">
                                <button class="btn waves-effect waves-light  grey darken-2" type="submit"
                                    name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-3 text-white">
        <div class="container text-white">
            <p class="center">
                © 2021 - Nombre de la Empresa
            </p>
            <br class="hide-on-small-only">
            <div class="row center">
                <a class="white-text col m4 s12" href="#!"><i class="material-icons prefix">email</i>pap_equipo_defi@correo.com</a>
                <a class="white-text col m4 s12" href="#!"><i class="material-icons prefix">call</i>+52 33 3345 6541</a>
                <a class="white-text col m4 s12" href="#!"><span class="iconify" data-icon="brandico:facebook" data-inline="false"></span> <span class="iconify" data-icon="mdi-twitter" data-inline="false"></span> <span class="iconify" data-icon="akar-icons:instagram-fill" data-inline="false"></span> <span class="iconify" data-icon="ant-design:reddit-outlined" data-inline="false"></span></a>
            </div>
            <br class="hide-on-small-only">
            <div class="row center">
                <a class="white-text col m4 s12" href="#!">Mapa de Sitio</a>
                <a class="white-text col m4 s12" href="#!">Términos y Condiciones</a>
                <a class="white-text col m4 s12" href="#!">Privacidad</a>
            </div>

        </div>
    </div>
</footer>