<div class="header">
    <nav class="red darken-4">
        <div class="container nav-wrapper">
            <a href="{% url 'principal:index' %}" class="brand-logo"><i class="material-icons">sports_soccer</i>CriptoFut</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'principal:index' %}">INICIO</a></li>
                <li><a href="{% url 'tournament:index' %}">TORNEOS</a></li>
                <li><a href="{% url 'teams:index' %}">EQUIPOS</a></li>
                <li><a href="{% url 'not_found:index' %}">CANCHAS</a></li>
                <li><a href="{% url 'not_found:index' %}">ARBITROS</a></li>
                <li><a href="{% url 'admin:index' %}">LOG IN/SIGN UP</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'principal:index' %}">INICIO</a></li>
        <li><a href="{% url 'tournament:index' %}">TORNEOS</a></li>
        <li><a href="{% url 'teams:index' %}">EQUIPOS</a></li>
        <li><a href="{% url 'not_found:index' %}">CANCHAS</a></li>
        <li><a href="{% url 'not_found:index' %}">ARBITROS</a></li>
        <li><a href="{% url 'admin:index' %}">LOG IN/SIGN UP</a></li>
</div>